spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: main_service_api
          uri: lb://main-service
          predicates:
            - Path=/admin/**,/users/**,/events/**,/categories/**,/compilations/**,/comments/**
          filters:
            - CircuitBreaker=mainCircuit

        - id: stats_service_api
          uri: lb://stat-server
          predicates:
            - Path=/stats/**,/hit/**
          filters:
            - CircuitBreaker=statsCircuit